.icons{
	display: :flex;
	column-gap:25;

}
.icon{
	display:inline-flex;
	width:60px;
	height:60px;
	border-radius: 50%;
	outline:2px solid #fff;
	transition-property:outline offset, outline-color,background-color ;
	transition-duration: 0.25s;


}
.icon:hover{
	outline-offset: : 4px;

}
.icon{
	margin: auto;

}

.icon:hover i {
	animation: shake 0.25s;
}

 @keyframes shake  {

	10% {
		transform:rotate(15deg);

	}
	20% {
		transform:rotate(-15deg);
	}
	30% {
		transform:rotate(15deg);
	}
	40% {
		transform:rotate(-15deg);
	}
}







