body{
font-family:'PT Sans', sans-serif;
background-color: #fff;
 margin:0;
color:# #1B2631 ;
line-height:1.6;


}
a{
   text-decoration: none;
  color: # #1B2631 ;
}


#showcase{
margin: 0;
padding: 0; 
background: url('') no-repeat center/cover;
width:100%;
height:100vh;  
position: relative;
overflow-y: hidden;

}

 .container{
margin-top: 25vh;
}

#showcase h1{
font-size: 4rem;  /*root element font size*/
margin-bottom:0;
}

#showcase h2{
font-size: 2rem;  /*root element font size*/
}

nav{
height:40px;
width:100%;
background-color: # #1B2631 ;
color:rgb(51,34,34);
position:fixed;
}

nav ul{
margin:0;
padding:0;
}
nav li{
display: inline;
float:left;
}

nav a{
display:inline-block;
width:100px;
text-align:center;
text-decoration:none;
padding:10px 0;
color: #FFA07A
;
}

nav li:hover{
background-color: #E6E6FA ;
}

.container{
max-width:1180px;
text-align:center;
margin:0 auto;
padding: 0 3rem;
margin-top: 25vh;
}

.lead{
font-size:1.3rem;
}


.footer-cols{
display:grid;
grid-gap: 20px;
grid-template-columns: repeat(4,1fr);
padding:2rem;
text-align:left;
font-size:14px;
}

.footer-cols ul{
list-style: none;
}
.footer-cols ul li:first-child{
font-size:1.2rem;
padding-bottom:0.5rem;
border-bottom:#444 solid 2px;
margin-bottom:1rem;
}

.footer-bottom{
background-color:#E6E6FA;
padding:1rem;
text-align:center;
}

.hello{
   position: absolute;
   height: auto;
   left: 0px;
   width: 1080px;
}
.icons{
   display: :flex;
   column-gap:25;

}
.icon{
   display:inline-flex;
   width:60px;
   height:60px;
   border-radius: 50%;
   outline:2px solid #fff;
   transition-property:outline offset, outline-color,background-color ;
   transition-duration: 0.25s;


}
.icon:hover{
   outline-offset: : 4px;

}
.icon{
   margin: auto;

}

.icon:hover i {
   animation: shake 0.25s;
}

 @keyframes shake  {

   10% {
      transform:rotate(15deg);

   }
   20% {
      transform:rotate(-15deg);
   }
   30% {
      transform:rotate(15deg);
   }
   40% {
      transform:rotate(-15deg);
   }
}
